/////////////////////////////////////////////////////////

.textaFormat {
  margin: 20px 0;
  font-weight: 400;

  p {
    margin-bottom: 20px;
    line-height: 28px;
    strong,
    b {
      font-weight: 600;
    }
  }

  table {
    margin: 0;
    width: 100%;
    margin: 20px 0;

    tbody {
      tr {
        padding: 10px 0;

        td {
          @media @phone {
            width: 100% !important;
          }
        }

        td:nth-child(1) {
          padding: 0 10px;
        }

        td,
        td:nth-child(2) {
          padding: 5px;
        }
      }

      tr:nth-child(even) {
        background: #f5f5f5;
      }

      tr:nth-child(1) {
        font-weight: 600;
      }
    }
  }

  ul {
    margin: 20px 0 20px 20px;

    li {
      list-style: none;
      position: relative;
      padding: 8px 0 0 0;

      &::before {
        content: "▪";
        top: 7px;
        left: -15px;
        position: absolute;
        font-size: 30px;
        color: #64ec04;
        //https://www.w3schools.com/charsets/ref_utf_punctuation.asp
      }
    }
  }
}
//////////////////////////////////////////////////////
.seditError404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;

  h1 {
    font-weight: 800;
    font-size: 100px;
    color: #959bac;
    @media @tablet, @phone {
      font-size: 15vw;
    }
  }

  p {
    font-weight: 600;
    font-size: 20px;
    color: #2d3039;
    @media @tablet, @phone {
      font-size: 4vw;
    }
  }
}
//////////////////////////////////////////////////////
